@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;700&display=swap");

.card {
  --bg: #fff;
  --title-color: #fff;
  --title-color-hover: #000;
  --text-color: #666;
  --button-color: #eee;
  --button-color-hover: #ddd;

  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
}

.card.dark {
  --bg: #222;
  --title-color: #fff;
  --title-color-hover: #fff;
  --text-color: #ccc;
  --button-color: #555;
  --button-color-hover: #444;
}

.card::before {
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  height: 30%;
  bottom: 0.5rem;
  left: 0.5rem;
  mask: linear-gradient(#0000, #000f 80%);
  backdrop-filter: blur(1rem);
  border-radius: 0 0 1.5rem 1.5rem;
  transition: transform 0.25s;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  object-fit: cover;
  aspect-ratio: 2 / 3;
  transition: aspect-ratio 0.25s, object-position 0.25s;
}

.card section {
  margin: 1rem;
  height: calc(33.3333% - 1rem);
  display: flex;
  flex-direction: column;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--title-color);
  transition: 0.5s;
}

.card h3 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
  color: var(--text-color);
}

.card p {
  font-size: 0.95rem;
  line-height: 1.3;
  color: var(--text-color);
  margin: 0;
  transition: 0.3s;
}

.card section > div {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s;
}

.tag {
  color: var(--title-color-hover);
}

button {
  border: none;
  border-radius: 1.25rem 1.25rem 1.5rem 1.25rem;
  font-size: 1rem;
  padding: 1rem 1.5rem 1rem 2.75rem;
  background: var(--button-color);
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
  width: 8.2rem;
  text-align: right;
}

button::before,
button::after {
  content: "";
  width: 0.85rem;
  height: 0.1rem;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 1.33rem;
  border-radius: 1rem;
}

button::after {
  transform: rotate(90deg);
  transition: transform 0.15s;
}

button.following::after {
  transform: rotate(0deg);
}

button:hover {
  background: var(--button-color-hover);
}

.card:hover::before {
  transform: translateY(100%);
}

.card:hover .card-image {
  aspect-ratio: 1 / 1;
  object-position: 50% 10%;
}

.card:hover h2 {
  color: var(--title-color-hover);
}

.card:hover section > div {
  opacity: 1;
  transform: translateY(0);
}