@import "tailwindcss";

:root {
  --background: #F4F2EC;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f5efc5;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: auto;
}

/* @media (pointer: fine) {
  body {
    overflow: hidden;
  }
} */

/* Navbar underline animation */
.underline-style {
  @apply pointer-events-none absolute left-0 -bottom-1 h-0.5 w-4/5 bg-current origin-left scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100;
}

/* h1{
  font-size: clamp(24px, 4vw, 40px);
} */

/* h2{
  font-size: clamp(16px, 2.5vw, 20px);
} */

:root {
  --font-gilroy: 'Gilroy', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.gilroy {
  font-family: var(--font-gilroy), Arial, Helvetica, sans-serif;
}

html[class*="--font-gilroy"] {
  /* when you use next/font with variable, you already have a CSS variable set on :root via the class.
     But simplest: just set body to use the var defined in layout.js: */
}

.centerit{
  display: flex;
  justify-content: center;
  align-items: center;
}